<div class="list-group">
  <a href="{{ url_for('mindmap.create') }}" class="list-group-item list-group-item-action {% if request.path == url_for('mindmap.create') %}active{% endif %}">Zihin Haritası Oluştur</a>
  <a href="{{ url_for('mindmap.list') }}" class="list-group-item list-group-item-action {% if request.path == url_for('mindmap.list') %}active{% endif %}">Zihin Haritası Listele</a>
  <a href="{{ url_for('mindmap.shared_mindmaps') }}" class="list-group-item list-group-item-action {% if request.path == url_for('mindmap.shared_mindmaps') %}active{% endif %}">Paylaşılan Zihin Haritaları</a>
</div>
