{% extends "base.html" %}

{% block title %}Kayıt Ol{% endblock %}

{% block content %}
<div class="container login-container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center text-light bg-dark">
                    <h4>Synapsee Kayıt Ol</h4>
                </div>
                <div class="card-body bg-dark text-light">
                    <form method="POST" action="{{url_for('user.register')}}">
                        <!-- Kullanıcı Adı -->
                        <div class="mb-3">
                            <label for="username" class="form-label">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>

                        <!-- E-posta -->
                        <div class="mb-3">
                            <label for="email" class="form-label">E-posta</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>

                        <!-- Şifre -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Şifre</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>

                        <!-- Kayıt Butonu -->
                        <button type="submit" class="btn btn-success text-light w-100">Kayıt Ol</button>
                    </form>
                    

                    <!-- Hata Mesajı -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        <br>
                            <div class="alert-container">
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="card-footer bg-dark text-center">
                    <a class="text-light" href="{{ url_for('user.login') }}" style="text-decoration: none">Zaten üye misiniz? Giriş yapın</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
